*{
    width:700px;
    background-color: black;
    color: whitesmoke;
}
#one{
    width:700px;
    height:400px;
    transform: translate(400px,0px);
}
#ten{
    transform: translate(425px,130px);
    font-weight: bold;
    font-size: 20px;
}
#two{
    transform: translate(400px,10px);
    font-size: 18px;
}
#three{
    width:300px;
    height:600px;
    transform:translateX(400px);
}
#four{
    width:350px;
    height: 600px;
    transform:translate(750px,-615px);
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#five{
 font-size:smaller;
}
#six{
    transform: translate(400px,-665px);
}
#seven{
    transform:translate(400px,-650px);
    font-size:20px;
}
#eight{
    transform: translate(350px,-385px);
    font-weight: bold;
    font-size:35px;
}
#nine{
    transform: translate(10px,-130px);
    font-size:20px;
}